@font-face {
  font-family: "Jogo";
  src: url(Fonte/Bangers-Regular.ttf);
}

@font-face {
  font-family: "Palavras";
  src: url(Fonte/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Teclado";
  src: url(Fonte/LilitaOne-Regular.ttf);
}

body {
  background-image: radial-gradient(#002ffff1,#0077ff);
  text-align: center;
}

p {
  font-family: "Jogo";
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 4px 0 #000; 
  margin-top: 10px;
}

.container {
  margin-top: 50px;
}

.forca-img {
  background-image: url("Imagem/Forca.png");
  margin: 20px auto;
  width: 234px;
  height: 272px;
}

.words {
  font-family: "Jogo";
  color: #fff;
  margin: 25px auto;
  font-size: 30px;
}

.wrong {
  font-family: "Palavras";
  font-weight: bold;
  margin-top: 10px;
  font-size: 22px;
  color: #fff;
  text-shadow: -1px 3px 0 black;
}

.attempts {
  font-family: "Palavras";
  font-weight: bold;
  color: #fff;
  margin: 5px auto;
  font-size: 22px;
  text-shadow: -1px 3px 0 black;
}

.teclas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.teclas button {
  width: 40px;
  height: 40px; 
  padding: 5px;
  text-align: center;
  margin: 5px 5px;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #1eff00;
  cursor: pointer;
  font-family: "Teclado";
  font-weight: bold;
  text-shadow: -2px 2px #000;
  color: #ffffff;
  transition: transform 0.4s ease;
}

.teclado button:hover {
  background-color: #0400ff;
  transform: scale(1.2);
}

.teclado button:active {
  background-color: #bbb;
}

#controle button {
  width: 60px;
  height: 40px;
  padding: 5px;
  font-size: 24px;
  margin: 5px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #1eff00;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#controle button:hover {
  background-color: #0400ff;
  transform: scale(1.2);
}

.category {
  font-family: "Palavras";
  font-weight: bold;
  margin: 10px 0px 15px 0;
  font-size: 24px;
  text-shadow: -1px 3px 0 black;
  color: #ffffff;
}


@media screen and (max-width: 782px) {
  body {
    font-size: 14px;
  }

  #controle button {
  width: 50px;
  height: 30px;
  padding-right: 10px;
  padding-bottom: 15px;
  font-size: 24px;
  margin: 5px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #1eff00;
  cursor: pointer;
  transition: transform 0.4s ease;
  }

  .teclas button {
  width: 30px;
  height: 30px; 
  padding-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  margin: 5px 5px;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #1eff00;
  cursor: pointer;
  font-family: "Teclado";
  font-weight: bold;
  text-shadow: -2px 2px #000;
  color: #ffffff;
  transition: transform 0.4s ease;
  }
}
  
  
